name: Docker

on:
  push:
    branches:
      - main

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}${{ github.ref_name != github.event.repository.default_branch && github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: getyourguide/istio-config-validator:latest

      - name: Build and push istio-router-check
        uses: docker/build-push-action@v4
        with:
          pull: true
          file: hack/istio-router-check/Dockerfile
          context: .
          push: true
          tags: getyourguide/istio-router-check:release-1.22
