name: Go

on: [push]

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.20.x]
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Environment information
      run: |
        uname -a
        go version
        go env
    - name: Vet
      if: matrix.platform == 'ubuntu-latest'
      run: go vet -v ./...
    - name: Lint
      if: matrix.platform == 'ubuntu-latest'
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        go install golang.org/x/lint/golint@latest
        golint -set_exit_status ./...
    - name: staticcheck.io
      if: matrix.platform == 'ubuntu-latest'
      uses: dominikh/staticcheck-action@v1.3.0
      with:
        install-go: false
    - name: gofumpt formatting
      if: matrix.platform == 'ubuntu-latest'
      run: |
        export PATH=$PATH:$(go env GOPATH)/bin
        go install mvdan.cc/gofumpt@latest
        gofumpt -d .
        [ -z "$(gofumpt -l .)" ]
    - name: Test
      run: go test -count=1 ./...
    - name: Test with -race
      run: go test -race -count=1 ./...
