name: auto-approve
on: pull_request


concurrency:
  group: ${{ github.workflow }}${{ github.ref_name != github.event.repository.default_branch && github.ref || github.run_id }}
  cancel-in-progress: ${{ github.ref_name != github.event.repository.default_branch }}
permissions:
  pull-requests: write
  contents: write

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'renovate[bot]' || github.actor == 'dependabot[bot]' }}
    steps:
      - name: Approve Renovate PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GYGROBOT_WRITE_TOKEN }}
      - name: auto-merge Dependabot PRs
        if: ${{ github.actor == 'dependabot[bot]' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ github.token }}
